$white: #e3e4de;
$black: #373736;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $black;
  .aList {
    width: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
    a {
      text-decoration: none;
      color: $black;
    }
  }
  #logo {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 2rem;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  .imgAdiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .itmeList {
    width: 100%;
    height: 60vh;
    display: flex;
  }
  .divAimg {
    margin-top: 1.2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  h2 {
    display: inline-block;
    color: $black;
    font-size: 5vh;
    font-weight: 700;
  }
  p {
    color: $black;
    display: flex;
    align-items: end;
    flex-grow: 1;
    width: 300px;
  }
  a {
    display: inline-block;
    padding-top: 1rem;
    width: fit-content;
    border-bottom: 1px solid $black;
    text-decoration: none;
    color: $black;
  }
  ul {
    list-style: none;
  }

  .bigPhoto {
    width: 300px;
    min-height: 50vh;
    max-height: 100vh;
    flex-grow: 1;
    border-bottom: 1px solid $black;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .middlePhoto {
    object-fit: cover;
    object-position: center;
    width: 50%;
    height: 100%;
    flex-grow: 1;
    border-bottom: 1px solid $black;
    background-color: aqua;
  }
  .itemImg {
    object-fit: fill;
    height: 66%;
    aspect-ratio: 3/4;
    border-radius: 50vmin;
    background-color: blue;
  }

  div {
    &.bigBlock {
      width: 300px;
      min-height: 50vh;
      max-height: 100%;
      padding: 2rem 1rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $black;
      h2 {
        width: 340px;
      }
    }
    &.middleBlock {
      min-width: 50%;
      min-height: 40vh;
      padding: 1rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $black;
    }
    &.smallBlock {
      min-width: 25%;
      padding: 1rem;
      flex-grow: 1;
      flex-shrink: 1;
      border-bottom: 1px solid $black;
    }
    &.itemBlock {
      min-width: 75%;
      min-height: 50vh;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      border-bottom: 1px solid $black;
    }
    &.item {
      width: fit-content;
      height: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $black;
      h3 {
        color: $black;
        margin: 1rem 0;
      }
      p {
        width: fit-content;
        flex-grow: 0;
      }
      a {
        padding-top: 8px;
        border-bottom: none;
      }
    }
  }
}

footer {
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 2rem;
    min-width: 300px;
    max-width: 700px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .bigPhoto {
    height: 50vh;
  }
}

@media (max-width: 1000px) {
  nav {
    .aList {
      display: none;
    }
  }
  main {
    h2 {
      width: 340px;
    }
    .itmeList {
      a {
        display: none;
      }
      flex-direction: column;
    }
    .divAimg {
      height: fit-content;
    }
    .middlePhoto {
      width: 100%;
      height: 50vh;
    }
  }
}
